[Desktop Entry]
Type=Application
Name=Quickshell
Exec=quickshell
Terminal=false
NoDisplay=false
X-KDE-Autostart-enabled=true
X-KDE-StartupNotify=false
