@define-color bg-1 #1e2132;
@define-color bg-2 #2e3244;
@define-color fg-1 #c6c8d1;
@define-color fg-2 #454b68;
/* .stub { */
/* color: #c6c8d1; */
/* color: #454b68; */
/* color: #2e3244; */
/* color: #1e2132; */
/* } */

* {
  min-height: 0;
  padding: 0;
  border: none;
  margin: 0;
  font-family: "imWritingDuo Nerd Font";
  font-size: 16px;
}

window#waybar {
  background-color: @bg-1;
  border: none;
  margin-right: 20px;
  margin-left: 20px;
}
window#waybar > box {
  /* margin: 2px; */
  border: none;
}

#clock.date:hover {
  color: @fg-2;
}

#temperature,
#custom-media,
#memory,
#battery,
#language,
#custom-keyboard {
  background: @bg-2;
  color: @fg-1;
  padding: 5px 5px 5px 7px;
  margin: 3px 0px 3px 0px;
}

#network,
#clock,
#workspaces,
#cpu {
  background: @fg-2;
  color: @fg-1;
  padding: 5px 5px 5px 7px;
  margin: 3px 0px 3px 0px;
}

#workspaces button.active{
  font-weight: bold;
}

#custom-left1 {
  background: @fg-2;
  color: @bg-2;
  padding: 0px;
  margin: 3px 0px 3px 0px;
  font-size: 1.75rem;
}

#custom-left2{
  background: @bg-2;
  color: @fg-2;
  padding: 0px;
  margin: 3px 0px 3px 0px;
  font-size: 1.75rem;
}

#custom-left3 {
  background: @bg-1;
  color: @fg-2;
  padding: 0px;
  margin: 3px 0px 3px 0px;
  font-size: 1.75rem;
}

#custom-right1 {
  background: @fg-2;
  color: @bg-2;
  padding: 0px;
  margin: 3px 0px 3px 0px;
  font-size: 1.8rem;
}

#custom-right2 {
  background: @bg-2;
  color: @fg-2;
  padding: 0px;
  margin: 3px 0px 3px 0px;
  font-size: 1.8rem;
}

#custom-right3 {
  background: @bg-1;
  color: @bg-2;
  padding: 0px;
  margin: 3px 0px 3px 0px;
  font-size: 1.8rem;
}

#custom-right4 {
  background: @bg-2;
  color: @fg-2;
  padding: 0px;
  margin: 3px 0px 3px 0px;
  font-size: 1.8rem;
}
